<h1>PriCoSha</h1>
<section class="navbar">
    <nav>
        <a id="home" href="/home">Home</a>
        <a href="/post" id="home">Post</a>
        <a href="/friends" id="friends">Friend Groups</a>
        <a href="/logout" id="logout">Log Out</a>
    </nav>
</section>
<h1>Hey {{first_name}} {{last_name}}!</h1>
<h3>Welcome to the home page!</h3>

